

a:hover {
  color: purple;
}

a:visited {
  color: lightcoral;
}

* {
  box-sizing: border-box;
  font-family: serif sans-serif;
}

.author {
  justify-content: center;
  text-align: center;
}

.fixed {
  position: fixed;
}

.scrollit {
  float: left;
}

.post-date {
  justify-content: right;
  color: gray;
  font-size: 15px;
}

.home-date {
  font-size: 13px;
  padding-top: 5px;
  margin-bottom: 3px;
  color: gray;
}

.home-tags {
  font-size: 13px;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 3px;
  color: gray;

}
.home-meta {
  display: flex;
  flex-direction: row;
  flex-flow: row;

}
